APP_SECRET=d4ac399db9f991b521e2b0bd9bbeb692
# japanstoreappbackend

# APP_API_URL=http://localhost:3333
APP_API_URL=http://192.168.10.110:3333
APP_WEB_URL=http://localhost:3000

#Mail
MAIL_DRIVER=ses
MAIL_USER=support@gilbertoborges.com
MAIL_NAME=FinControl Support

# AWS Credentials
AWS_ACCESS_KEY_ID:AKIAU6FJCSZDE2SQ7RIT
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION='us-east-1'

#Storage
STORAGE_DRIVER=disk